export RELEASABILITY_ENV_TYPE=Dev
export INPUT_DRY_RUN=true
export GITHUB_EVENT_PATH="./tests/resources/release-event.json"
export BURGRX_USER=''
export BURGRX_PASSWORD=''
export ARTIFACTORY_ACCESS_TOKEN=''
export AWS_PROFILE=burgr-dev-admin
