[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
boto3 = "*"
dryable = "*"
parameterized = "*"
polling = "*"
requests = "*"
slack_sdk = "*"

[requires]
python_version = "3.10"

[scripts]
releasability_check = "python release/releasability_check.py"
