name: Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
      contents: read
    env:
      VAULT_ADDR: https://vault.sonar.build:8200
    steps:
      - name: Vault Secrets
        id: secrets
        uses: hashicorp/vault-action@4c06c5ccf5c0761b6029f56cfb1dcf5565918a3b # v3.4.0
        with:
          url: ${{ env.VAULT_ADDR }}
          method: jwt
          path: jwt-ghwf
          role: github-sonarsource-gh-action_release
          secrets: |
            development/kv/data/sonarcloud token | SONAR_TOKEN;
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: main/.python-version
      - name: Build
        working-directory: main
        run: |
          python -m pip install --upgrade pip pipenv
          make test
          sed -i "s|<source>release</source>|<source>main/release</source>|g" "build/coverage.xml"
      - name: Test
        working-directory: datadog-ingest
        run: |
          python -m pip install --upgrade requests
          python main_test.py
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@ffc3010689be73b8e5ae0c57ce35968afd7909e8 # v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
