# This workflow verifies that for the given sets of inputs/outputs the gh-action_release defined in the current branch (PR)
# still works as expected.
#
# It checks for the current branch, and allows checking of new input/output parameters at the PR time  (Fail fast principles)
# without having to release the action first and then use it in a side project.
name: Integration tests
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  id-token: write   # Required by nested workflow `release`
  contents: write   # Required by nested workflow `release`

jobs:
  release:
    name: Test action
    runs-on: github-ubuntu-latest-s
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1 (Necessary to access local action)
      - uses: ./main
        env:
          ARTIFACTORY_ACCESS_TOKEN: "42"
          BINARIES_AWS_DEPLOY: "s3://empty"
          SLACK_API_TOKEN: "slack-token-test"
        with:
            dry_run: true
            publish_to_binaries: true
            slack_channel: build

  release-reusable_workflow:
    name: Test reusable workflow
    uses: ./.github/workflows/main.yaml
    with:
      dryRun: true
      publishToBinaries: false
      binariesS3Bucket: test-bucket
      slackChannel: ""
      mavenCentralSync: false
      publishJavadoc: false
