on:
  pull_request:
  push:
    branches:
      - master

jobs:
  it-tests-default-values:
    name: IT Test - use default inputs values should generate expected output"
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Setup JFrog
        uses: SonarSource/jfrog-setup-wrapper@e0f353c7f1bcc7b2f663063d72b5fec7948f6815 # 3.6.0
        with:
          artifactoryRoleSuffix: "private-reader"
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2 (Necessary to access local action)
      - uses: ./download-build/
        name: Given download-build is used with default values and dryRun enabled
        id: test-data
        with:
          dryRun: true
          build-number: '5432'
          local-repo-dir: '.'
          # use default values for the following:
          #flat-download:
          #exclusions:
      - uses: nick-fields/assert-action@aa0067e01f0f6545c31755d6ca128c5a3a14f6bf # v2.0.0
        name: Then outputs.jfrog_dl_options value must contains --flat, --exclusions and --dry-run
        with:
          expected: '--exclusions - --dry-run=true'
          actual: ${{ steps.test-data.outputs.jfrog_dl_options }}
          comparison: exact

  it-tests-use-flat-download-true:
    name: IT Test - use flat-download=true should generate expected output"
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Setup JFrog
        uses: SonarSource/jfrog-setup-wrapper@e0f353c7f1bcc7b2f663063d72b5fec7948f6815 # 3.6.0
        with:
          artifactoryRoleSuffix: "private-reader"
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2 (Necessary to access local action)
      - uses: ./download-build/
        name: Given download-build is used with flat-download=true, exclusions and dryRun enabled
        id: test-data
        with:
          dryRun: true
          build-number: '5432'
          flat-download: 'true'
          exclusions: '-'
          local-repo-dir: '.'
      - uses: nick-fields/assert-action@aa0067e01f0f6545c31755d6ca128c5a3a14f6bf # v2.0.0
        name: Then outputs.jfrog_dl_options value must contains --flat, --exclusions and --dry-run
        with:
          expected: '--exclusions - --dry-run=true --flat'
          actual: ${{ steps.test-data.outputs.jfrog_dl_options }}
          comparison: exact

  it-tests:
      name: "All IT Tests have to pass (download-build)"
      runs-on: github-ubuntu-latest-s
      if: always()
      needs:
        # Add your tests here so that they prevent the merge of broken changes
        - it-tests-default-values
        - it-tests-use-flat-download-true
      steps:
        - uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
          with:
            jobs: ${{ toJSON(needs) }}
