# yamllint disable rule:line-length
---
name: Javadoc publication
"on":
  workflow_call:
    inputs:
      version:
        type: string
        description: Version (alternative to release event)
        required: false
      dryRun:
        type: boolean
        description: Flag to enable the dry-run execution
        default: false
        required: false
      javadocDestinationDirectory:
        type: string
        description: Name of the directory to use at https://javadocs.sonarsource.org/ (if not provided, use repository name)
        required: false
      vaultAddr:
        type: string
        description: Custom vault installation
        default: https://vault.sonar.build:8200
        required: false
      artifactoryRoleSuffix:
        type: string
        description: Artifactory reader suffix specified in vault repo config
        default: private-reader
        required: false
      publicRelease:
        type: boolean
        description: Indicate if the project is generating a public release or not
        required: true

jobs:
  javadoc-publication:
    name: Publish javadoc
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write  # to authenticate via OIDC
      contents: read  # to revert a github release
    timeout-minutes: 5
    if: ${{ (github.event_name == 'release' && github.event.action == 'published') || inputs.version != '' }}
    outputs:
      javadoc-publication: ${{ steps.upload-latest.outcome }}
    steps:
      - name: Checkout gh-action_release for scripts
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: SonarSource/gh-action_release
          ref: 6.3.0
          path: gh-action_release
      - name: Get the version
        id: get_version
        run: |
          IFS=. read -r major minor patch build <<< "${{ inputs.version || github.event.release.tag_name }}"
          echo "build=${build}" >> $GITHUB_OUTPUT
          echo "patch=${patch}" >> $GITHUB_OUTPUT
          echo "minor=${minor}" >> $GITHUB_OUTPUT
          echo "major=${major}" >> $GITHUB_OUTPUT
      - name: Create local repository directory
        id: local_repo
        run: echo "dir=$(mktemp -d repo.XXXXXXXX)" >> $GITHUB_OUTPUT
      - name: Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@545e7cfbb5528e7009a1edcc83e073898d292627 # 3.2.0
        with:
          url: ${{ inputs.vaultAddr }}
          secrets:
            development/artifactory/token/{REPO_OWNER_NAME_DASH}-${{ inputs.artifactoryRoleSuffix }} access_token  | artifactory_access_token;
            development/kv/data/slack webhook | slack_webhook;
            development/aws/sts/javadocs access_key | javadoc_aws_access_key_id;
            development/aws/sts/javadocs secret_key | javadoc_aws_secret_access_key;
            development/aws/sts/javadocs security_token | javadoc_aws_security_token;
      - name: Setup JFrog
        uses: SonarSource/jfrog-setup-wrapper@e0f353c7f1bcc7b2f663063d72b5fec7948f6815 # 3.6.0
        with:
          jfrogAccessToken: ${{ fromJSON(steps.secrets.outputs.vault).artifactory_access_token }}
      - name: Create a path filter from the groupId for artifactory build search
        id: filter
        run: |
          jfrog rt curl -X GET "/api/build/${{ github.event.repository.name }}/${{ steps.get_version.outputs.build }}" > build-info.json
          groupIdPath=$(jq -r '.buildInfo.modules[0].id' build-info.json | cut -d':' -f1 | tr '.' '/')
          echo "path: $groupIdPath"
          echo "groupIdPath=${groupIdPath}" >> $GITHUB_OUTPUT
      - name: Download Artifacts
        uses: SonarSource/gh-action_release/download-build@6.3.0
        with:
          flat-download: true
          build-number: ${{ steps.get_version.outputs.build }}
          local-repo-dir: ${{ steps.local_repo.outputs.dir }}
          filter: ${{ steps.filter.outputs.groupIdPath }}
          remote-repo:  ${{ inputs.publicRelease == true && 'sonarsource-public-releases' || 'sonarsource-private-releases'}}
      - name: Keep only javadoc.jar
        run: find ${{ steps.local_repo.outputs.dir }} -type f ! -name "*-javadoc.jar" -delete
      - name: List artifacts
        run: ls ${{ steps.local_repo.outputs.dir }}
      - name: Extract javadoc.jar
        run: ./gh-action_release/scripts/extract-javadoc.sh "${{ steps.local_repo.outputs.dir }}" "${{ inputs.version || github.event.release.tag_name }}"
      - name: List javadoc files
        run: ls "${{ steps.local_repo.outputs.dir }}/javadoc/${{ inputs.version || github.event.release.tag_name }}"
      - name: Publish javadoc files to S3
        uses: SonarSource/gh-action_release/aws-s3@6.3.0
        with:
          command: cp
          flags: --recursive
          source: ${{ steps.local_repo.outputs.dir }}/javadoc
          destination: s3://javadocs-cdn-eu-central-1-prod/${{ inputs.javadocDestinationDirectory || github.event.repository.name }}
          aws_access_key_id: ${{ fromJSON(steps.secrets.outputs.vault).javadoc_aws_access_key_id }}
          aws_secret_access_key: ${{ fromJSON(steps.secrets.outputs.vault).javadoc_aws_secret_access_key }}
          aws_session_token: ${{ fromJSON(steps.secrets.outputs.vault).javadoc_aws_security_token }}
          aws_region: eu-central-1
      - name: Delete dir named latest in S3
        uses: SonarSource/gh-action_release/aws-s3@6.3.0
        with:
          command: rm
          source: s3://javadocs-cdn-eu-central-1-prod/${{ inputs.javadocDestinationDirectory || github.event.repository.name }}/latest
          aws_access_key_id: ${{ fromJSON(steps.secrets.outputs.vault).javadoc_aws_access_key_id }}
          aws_secret_access_key: ${{ fromJSON(steps.secrets.outputs.vault).javadoc_aws_secret_access_key }}
          aws_session_token: ${{ fromJSON(steps.secrets.outputs.vault).javadoc_aws_security_token }}
          aws_region: eu-central-1
        continue-on-error: true # the first time a project publish javadoc, there is no latest dir available
      - name: Upload to dir named latest in S3
        id: upload-latest
        uses: SonarSource/gh-action_release/aws-s3@6.3.0
        with:
          command: cp
          flags: --recursive
          source: ${{ steps.local_repo.outputs.dir }}/javadoc/${{ inputs.version || github.event.release.tag_name }}/
          destination: s3://javadocs-cdn-eu-central-1-prod/${{ inputs.javadocDestinationDirectory || github.event.repository.name }}/latest
          aws_access_key_id: ${{ fromJSON(steps.secrets.outputs.vault).javadoc_aws_access_key_id }}
          aws_secret_access_key: ${{ fromJSON(steps.secrets.outputs.vault).javadoc_aws_secret_access_key }}
          aws_session_token: ${{ fromJSON(steps.secrets.outputs.vault).javadoc_aws_security_token }}
          aws_region: eu-central-1
