name: PyPI
"on":
  workflow_call:
    inputs:
      version:
        type: string
        description: Version (alternative to release event)
        required: false
      vaultAddr:
        type: string
        description: Custom Vault installation
        default: https://vault.sonar.build:8200
        required: false
      vaultTokenKey:
        type: string
        description: Vault key to read the token from
        default: pypi
        required: false
      artifactoryRoleSuffix:
        type: string
        description: Artifactory reader suffix specified in vault repo config
        default: private-reader
        required: false
      downloadExclusions:
        type: string
        description: exclusions for the JFrog build download
        default: "-"
        required: false
      pypiRepoUrl:
        type: string
        description: PyPI Repository URL for publishing the package
        default: https://upload.pypi.org/legacy/
        required: false
      slackChannel:
        type: string
        description: Slack channel to post notifications
        default: build
        required: false

jobs:
  pypi:
    name: Publish to PyPI
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write  # to authenticate via OIDC
      contents: read  # to revert a GitHub release
    timeout-minutes: 30
    if: ${{ (github.event_name == 'release' && github.event.action == 'published') || inputs.version != '' }}
    steps:
      - name: Get the version
        id: get_version
        run: |
          IFS=. read -r major minor patch build <<< "${{ inputs.version || github.event.release.tag_name }}"
          echo "build=${build}" >> $GITHUB_OUTPUT
          echo "patch=${patch}" >> $GITHUB_OUTPUT
          echo "minor=${minor}" >> $GITHUB_OUTPUT
          echo "major=${major}" >> $GITHUB_OUTPUT
      - name: Create local repository directory
        id: local_repo
        run: echo "dir=$(mktemp -d repo.XXXXXXXX)" >> $GITHUB_OUTPUT
      - name: Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@545e7cfbb5528e7009a1edcc83e073898d292627 # 3.2.0
        with:
          url: ${{ inputs.vaultAddr }}
          secrets:
            development/artifactory/token/{REPO_OWNER_NAME_DASH}-${{ inputs.artifactoryRoleSuffix }} access_token  | artifactory_access_token;
            development/kv/data/${{ inputs.vaultTokenKey }} token | pypi_token;
            development/kv/data/slack webhook | slack_webhook;
      - name: Setup JFrog
        uses: SonarSource/jfrog-setup-wrapper@e0f353c7f1bcc7b2f663063d72b5fec7948f6815 # 3.6.0
        with:
          jfrogAccessToken: ${{ fromJSON(steps.secrets.outputs.vault).artifactory_access_token }}
      - name: Download Artifacts
        uses: SonarSource/gh-action_release/download-build@d2d06a0578fb84a64c9c890dd3bde1c406ddb2ac
        with:
          build-number: ${{ steps.get_version.outputs.build }}
          local-repo-dir: ${{ steps.local_repo.outputs.dir }}
          exclusions: ${{ inputs.downloadExclusions }}
          remote-repo: sonarsource-pypi-public-releases
          flat-download: true
          download-checksums: false
      - name: Publish to PyPI
        id: publish-pypi
        continue-on-error: true
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          packages-dir: ${{ steps.local_repo.outputs.dir }}
          password: ${{ fromJSON(steps.secrets.outputs.vault).pypi_token }}
          repository-url: ${{ inputs.pypiRepoUrl }}
          print-hash: true
      - name: Notify on failure
        if: ${{ failure() }}
        uses: 8398a7/action-slack@77eaa4f1c608a7d68b38af4e3f739dcd8cba273e # v3.19.0
        with:
          status: failure
          fields: repo,author,eventName
          channel: ${{ inputs.slackChannel }}
        env:
          SLACK_WEBHOOK_URL: ${{ fromJSON(steps.secrets.outputs.vault).slack_webhook }}
      - name: Exit with error
        if: ${{ failure() }}
        run: exit 1
