---
name: Release
on:
  workflow_dispatch:
    inputs:
      branch:
        description: Release branch (master or branch-*)
        required: true
        type: string
        default: master
      version:
        description: Release version
        required: true
        type: string

jobs:
  release:
    name: Release ${{ inputs.version }}
    runs-on: github-ubuntu-latest-s
    permissions:
      contents: read
      id-token: write
    steps:
      - name: get secrets
        id: secrets
        uses: SonarSource/vault-action-wrapper@545e7cfbb5528e7009a1edcc83e073898d292627 # 3.2.0
        with:
          secrets: |
            development/github/token/{REPO_OWNER_NAME_DASH}-release token | github_token;
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-tags: true
          token: ${{ fromJSON(steps.secrets.outputs.vault).github_token }}
          persist-credentials: true
      - name: Git config
        run: |
          git config user.name sonartech
          git config user.email sonartech@sonarsource.com
      - name: release
        env:
          GH_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).github_token }}
          BRANCH: ${{ inputs.branch }}
          VERSION: ${{ inputs.version }}
        run: scripts/release.sh "$BRANCH" "$VERSION"