name: Update v-branch
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Release tag
        required: true
        type: string

jobs:
  update-v-branch:
    name: Update v* branch to ${{ inputs.tag }}
    runs-on: github-ubuntu-latest-s
    permissions:
      contents: read
      id-token: write
    steps:
      - name: get secrets
        id: secrets
        uses: SonarSource/vault-action-wrapper@320bd31b03e5dacaac6be51bbbb15adf7caccc32 # 3.1.0
        with:
          secrets: |
              development/github/token/{REPO_OWNER_NAME_DASH}-release token | github_token;
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          token: ${{ fromJSON(steps.secrets.outputs.vault).github_token }}
      - name: Git config
        run: |
          git config user.name sonartech
          git config user.email sonartech@sonarsource.com
      - name: update v* branch
        run: scripts/updatevbranch.sh ${{ inputs.tag }}
